:root {
  --height: 20px;
  --h-thumb:20px;
  --w-thumb:20px;
  --back-color:#704ae8;
  --prog-color:#ba36c2;
  --thumb-color:white;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      border: 0;
      /*width: 100%;*/
      -webkit-appearance: none;
      background-color: var(--back-color);
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: var(--height);
      -webkit-appearance: none;
      color: #0000;
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: var(--w-thumb);
      -webkit-appearance: none;
      height: var(--h-thumb);
      cursor: pointer;
      background: var(--thumb-color);
      box-shadow: -80vw 0 0 80vw var(--prog-color);
    }
    input[type="range"]::-moz-range-thumb{
      height: var(--h-thumb);
      width: var(--w-thumb);
      cursor: pointer;
    }
    input[type=range]:focus {
        outline: none;
    }

    input[type=range]:focus::-webkit-slider-runnable-track {
        /*background: #ccc;*/
    }

}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: var(--prog-color); 
  height:var(--height);
}
input[type="range"]::-moz-range-track {  
  background-color: var(--back-color);
  height:var(--height);
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: var(--prog-color); 
  height:var(--height);
}
input[type="range"]::-ms-fill-upper {  
  background-color: var(--back-color);
  height:var(--height);
}

#seeker{
      width:80vw;
      height:var(--height);
    }
    #seekcontainer{
      position: fixed;
      bottom:0;
      right: 0;
      text-align: center;
      z-index: 101;
      width:100%;
    }