@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap');
* {box-sizing: border-box;}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
#overlay {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	/*background-color: black;*/
	background-image: var(--big-overlay);
	opacity: 0.35;
}
.bottom{
	position: fixed;
	/*opacity: 0.7;*/
	bottom:0;
	right: 0;
	min-width: 100%;
	
	/*min-height: 15%;*/
	font-size:  7.5vmin; 
 	color: white;
 	font-family: 'Teko', sans-serif;
 	text-align: center;
 	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	z-index: 3;
}
#lyrics {
 font-size:  7.5vmin; 
 color: white;
 position: fixed;
 top: 50%;
 left: 50%;
 -webkit-transform: translate(-50%, 0);
 transform: translate(-50%, 0);
 text-align: center;
 font-family: 'Teko', sans-serif;
 transition: opacity 200ms,transform 200ms;
 z-index: 2;
 min-width: 100%;
 padding: 0 2vw 0 2vw;
 /*white-space: nowrap;*/
}
#overlay2 {
	position: fixed;
 	top: 50%;
 	left: 50%;
 	-webkit-transform: translate(-50%, -50%);
 	transform: translate(-50%,-50%);
 	min-height: 72px;
 	min-width: 100%;
 	background-color: black;
 	z-index: 1;
}
#display2 {
	/*z-index:4;*/
	/*mix-blend-mode: difference;*/
	text-shadow: 2px 2px black;
	padding-bottom: 20px;
	/*white-space: nowrap;*/
}
.fadetrans{  transition: opacity 1s; }
.fadeout { opacity: 0 !important; }
#settings{
	width: 70px;
	height: 70px;
	top: 0;
	left:0;
	z-index: 101;
	transition: transform 500ms;
	position: fixed;
	z-index: 101;
	background-color: white;
}
#settings >img {
	max-width: 100%;
	max-height: 100%;
	padding: 8px;
	position: absolute;
}
#controls{
	position: fixed;
	background-color: white;
	top: 0;
	left:0;
	z-index: 102;
	transform: translate(-70px);
	transition: transform 500ms;
}
#controls > div{
	width: 70px;
	height: 70px;
	background-color: white;
}
#controls img{
	max-width: 100%;
	max-height: 100%;
	padding: 8px;
	position: absolute;
}

.anisettings{
	transform: translate(0) !important;
}

#intro{
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	background-color: black;
	z-index: 200;
	overflow: auto;
}
.introanim {
	opacity: 0;
	transition: opacity 1s;
}
.disnone{
	display: none !important;
}
.fadein{
	opacity: 1 !important;
	transition: opacity 1s;
}
.fadeout2{
	opacity: 0;
	transition: opacity 1s;
}
#intro > div {
	position: absolute; 
	font-family: 'Teko', sans-serif;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%,-50%);
	color:white;
}
#startshow{
	opacity: 0;
}
#waiting{
	opacity: 1;
}
#seekcontainer{
    position: fixed;
    bottom: 0;
    z-index: 100;
    text-align: center;
    width: 100%;
}
#element0{
	width: 80vw;
	margin: auto;
}
.line{
	height:100%;
}
.line_bg{
	opacity: 0;
}
.line_style{
	background-image:var(--overlay-ticker);
	opacity: 1;
	transition: opacity 0.5s;
}
.line_space{
	min-height:50px;
}
#floating_lyr{
	position: fixed;
	z-index: 100;
	left: 100px;
	right: 100px;
	/*width: 100%;
	height: 100%;*/
	font-size:  7.5vmin; 
	text-align: center;
	font-family: 'Teko', sans-serif;
	color: white;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}
:root{
	--overlay-ticker:linear-gradient(to right,#9C27B0, #ff0052);
	--big-overlay:linear-gradient(#9C27B0, #ff0052);
}
@media screen and (max-aspect-ratio: 3/4) {
  #lyrics{
  	/*font-size: 30px;*/
  }
  #display2{
  	/*font-size: 30px;*/
  }
  .line_space{
  	/*min-height:30px;*/
  }
}